.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: beige;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right p {
  margin: 0 1rem 0 0;
}

.messageInterface {
  background: #393f49;
  /* width: 600px;
  height: 800px; */
  display: flex;
  flex-direction: column;
  color: white;
}

.message {
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid white; */
  /* width: 60%; */
  margin: 5px;
  border-radius: 5px;
}

.messageView {
  height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  /* margin-left: 40%; */
}
.messsageInput {
  background-color: aliceblue;
<<<<<<< HEAD
  width: calc(100% - 150px);
=======
  width: 100%;
>>>>>>> parent of d2aa1d0 (improve layout and style)
  height: 50px;
  display: flex;
  padding: 5px;
  box-sizing: border-box;
}
.messsageInput input {
  flex-grow: 1;
  margin-right: 5px;
}

<<<<<<< HEAD
.group__list {
  padding: 1rem;
  width: 150px;
=======
.nav {
  background-color: bisque;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.group__nav {
  padding: 1rem;
>>>>>>> parent of d2aa1d0 (improve layout and style)
}

.group__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.joinGroup-button,
.createGroup-button {
  padding: 0.25rem;
}
.joinGroup-button {
  margin-right: 1rem;
}

@media (max-width: 400px) {
  .group__list {
    background-color: red;
    width: 5%;
    position: absolute;
    z-index: 2;
  }
  .group__list:hover {
    background-color: green;
    width: 25%;
    position: absolute;
    z-index: 2;
  }

  .messageInterface {
    width: 100%;
  }

  .messsageInput {
    width: 100%;
  }
}
